<div class="fh5co-counters" style="background-image: url(/static/images/hero.jpeg);" data-stellar-background-ratio="0.5" id="counter-animate">
  <div class="fh5co-narrow-content animate-box">
    <div class="row" >
      <div class="col-md-6 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="1" data-speed="2500" data-refresh-interval="50"></span>
        <span class="fh5co-counter-label">Users</span>
      </div>
      <div class="col-md-6 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="{{ context.image_count }}" data-speed="2500" data-refresh-interval="50"></span>
        <span class="fh5co-counter-label">Photos</span>
      </div>
    </div>
  </div>
</div>
