{% extends "base.html" %}

{% block content %}

	<div class="fh5co-gallery">

		{% for category in context.categories %}
		<a class="gallery-item" href="/images/categories/{{context.categories[category].slug}}">
			<img src="{{ context.categories[category].url }}" >
			<span class="overlay">
				<h2>{{category}}</h2>
				<span>{{context.categories[category].count}} Photos</span>
			</span>
		</a>
		{% endfor %}

	</div>


 {% include "partials/counters.html" %}
 {% include "partials/express.html" %}


{% endblock %}
